 #tooltip
{
    color: #000;
    background: rgb(250,187,000);
    position: absolute;
    z-index: 100;
    padding: 15px;
    border-radius: 2px;
    box-sizing: border-box;
}
abbr:hover {
    cursor: help;
}
@media only screen and (max-width: 800px){
    #tooltip:before{
        content: 'x';
        position: absolute;
        color: #000;
        right: 8px;
        top: 3px;
        font-size: 12px;
    }
}    

#tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(250,187,000);
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

    #tooltip.top:after
    {
        border-top-color: transparent;
        border-bottom: 10px solid rgb(250,187,000);
        top: -20px;                         
        bottom: auto;
    }


    #tooltip.left:after
    {
        left: 10px;
        margin: 0;
    }

    #tooltip.right:after
    {
        right: 10px;
        left: auto;
        margin: 0;
    }